<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.enigma.nohp" 
        version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GetPhoneNumber</name>
    <js-module name="GetPhoneNumber" src="www/GetPhoneNumber.js">
        <clobbers target="cordova.plugins.GetPhoneNumber" />
    </js-module>
    <engines>
        <engine name="cordova-android" version="&gt;=3.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GetPhoneNumber">
                <param name="android-package" value="com.enigma.nohp.GetPhoneNumber" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/GetPhoneNumber.java" target-dir="src/com/enigma/nohp/GetPhoneNumber" />
    </platform>
</plugin>